
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800;900&display=swap');

/* General Style */
body{
  background-color: #908ae9;
  font-family: 'Montserrat', sans-serif;
}

.grad-color{
  background-image:linear-gradient(to left,#28189e,#6153fa);
  background-image:linear-gradient(90deg,#172beb,#0ae8f8);

}

.btn-color{
  background-color:#4127ff;
  color:white;
  box-shadow: 5px 5px 15px #908ae9;
  line-height: 2.5;
}

.btn-copy{
  width:100px;
}
/* Start Nav */
nav{
  position:relative;
  box-shadow: 5px 5px 15px #908ae9;
  padding: 20px 0 !important;
}

nav .navbar-brand{
  font-weight: 600;
}


#nav-media .nav-button {
  margin: 0;
  padding:0 7px;
}
#nav-media .nav-button:hover{
  background-color:white;
}

/* End Nav */
 @media (min-width: 320px) and (max-width:575.98) 
   { 
      .footer p{
        font-size: 20px;
      }
    }

/* Start scroll-top */

/* End scroll-top */
.scroll-top{
  width:50px;
  height:50px;
  background-image:linear-gradient(to right ,rgba(50, 15, 173, 0.9),rgba(33, 46, 236, 0.9));
  bottom:15px;
  right:15px;
  position: fixed;
  box-shadow: 3px 3px 15px 10px #908ae9;
  border-radius: 7px;
  cursor: pointer;
}
.scroll-top .fa{
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 50px;
}
/* Start Title */
/* End Title */


